<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hw1bookstore;AccountKey=tBM8JnMKvpWDqv3s0GqH8mHwMxkjQYDdjbLb8vRZ7ArDekjvjCl4Nsx5UxxPxYhlaWB8pqroI+iFcXOVsSALyQ==;"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>